hr {
    border-top: 2px solid gray;
}

.dropdown-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dropdown-button {
    width: 100%;
    margin-top: 5px;
}

.tabs-group {
    padding-top: 20px;
}

.app-div {
    padding: 10px;
}

.data-table-div {
    margin: auto;
    padding: 10px;
}

.budget-label {
    font-size: 20px;
    font-weight: bold;
}

.budget-text {
    font-size: 20px;
}

.budget-text-value {
    font-size: 20px;
    font-style: italic;
}

.budget-progress-bar {
    height: 20px;
}

.budget-tooltip {
    font-size: 18px;
}

.checklist {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media(max-width: 800px) {
    .dropdown-container {
        grid-template-columns: 1fr;
    }
}

.table-container {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    padding-bottom: 30px;
}

.table-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}
